<!DOCTYPE html>
<html>
  <head>
    <title>ahui是个假程序员</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script>
          var _hmt = _hmt || [];
          (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?4a7791a332abe68c9d14863b2d5237bb";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
          })();
      </script>

  </head>
  <body>
    <div class="video-wrapper">
        <div class="video-title">
           欢迎使用ahui开发的各大视频网站vip视频破解系统
        </div>
        <div class="video-input">
            <span>请输入原视频地址：</span><input type="text" id="originAddress">
        </div>
        <div class="video-click">
            <button class="ready">开始播放</button><button class="reset">清空输入框</button>
        </div>
        <div style="margin-top: 30px;width: 100%;height: 600px;position: relative;border: 1px dashed #ccc;">
            <div class="video-tips">
                神奇的一刻马上发生...O(∩_∩)O...
            </div>
            <iframe src="" frameborder="0" id="video-play" width="100%" height="600">

            </iframe>
        </div>
    </div>



    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/play1.js"></script>
  </body>
</html>
